{:aliases
   {:build/main {:build-with {:aliases [:foss/supatom-s3],
                              :class-dir "target/classes",
                              :clojars? true,
                              :project "deps.edn",
                              :repo "http://github.com/patbrown/supatom-s3",
                              :scm-url "github.com",
                              :src-dirs ["src"],
                              :username "patbrown",
                              :version "0.1.2"},
                 :deps {babashka/process {:mvn/version "0.5.22"},
                        io.github.clojure/tools.build {:mvn/version "0.10.6"}},
                 :extra-paths ["build"],
                 :ns-default build},
    :deploy/main {:exec-args {:artifact "target/deploy.jar",
                              :installer :remote,
                              :pom-file "target/pom.xml",
                              :sign-releases? false},
                  :exec-fn deps-deploy.deps-deploy/deploy,
                  :extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}},
    :foss/supatom-s3 {:build-with {:aliases [:foss/supatom-s3],
                                   :repo
                                     "http://github.com/patbrown/supatom-s3",
                                   :version "0.1.2"},
                      :extra-deps {baby.pat/secrets {:mvn/version "0.0.2"},
                                   baby.pat/simplaws {:mvn/version "0.1.3"},
                                   baby.pat/supatom {:mvn/version "0.1.2"}},
                      :extra-paths ["src"],
                      :nss [{:destination "bin/foss/supatom-s3/src",
                             :files ["baby/pat/supatom/s3.cljc"],
                             :source "bin/code/src"}]},
    :run/repl
      {:extra-deps {cider/cider-nrepl {:mvn/version "0.50.2"},
                    nrepl/nrepl {:mvn/version "1.1.0"},
                    refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}},
       :main-opts
         ["-m" "nrepl.cmdline" "-b" "0.0.0.0" "-p" "8675" "--middleware"
          "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}},
 :build-with {:aliases [:foss/supatom-s3],
              :class-dir "target/classes",
              :clojars? true,
              :project "deps.edn",
              :repo "http://github.com/patbrown/supatom-s3",
              :scm-url "github.com",
              :src-dirs ["src"],
              :username "patbrown",
              :version "0.1.2"}}
